<!DOCTYPE html>
{% load thumbnail %}
<html>
<head>
  <meta charset="utf-8">
  <title>Adams School's Lobby</title>
  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>        
    <![endif]-->
    <style type="text/css">
      ul#demo-block{ margin:0 15px 15px 15px; color:white; }
      ul#demo-block li{ margin:0 0 10px 0; padding:10px; display:inline; float:left; clear:both; color:white; font:20pt Helvetica, Arial, sans-serif;}
      ul#demo-block li a{ color:#eee; font-weight:bold; }
      h3 { color:white; }
    </style>
		<link rel="stylesheet" href="{{STATIC_URL}}css/supersized.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="{{STATIC_URL}}theme/supersized.shutter.css" type="text/css" media="screen" />
		
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/jquery.easing.min.js"></script>
		
		<script type="text/javascript" src="{{STATIC_URL}}js/supersized.3.2.7.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}theme/supersized.shutter.js"></script>
		
		<script type="text/javascript">
                function slider(data) {
                   $.supersized({
		       slideshow       :1,			
		       autoplay				:1,			
		       start_slide     :0,
		       stop_loop				:0,
		       slide_interval  :8000,
		       transition      :1,
		       transition_speed:1500,
		       new_window			:1,
		       image_protect	  :0,
                       progress_bar    :1,
                       slides           : data
                  });
                }

                function bgslide() {
                  $.ajax({
                       url: '/slides.json',
                       dataType: 'json',
                       success: function( data ){
                                   slider(data);
                       }
                  });
                }
                setInterval(bgslide(), 1500);
                </script>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>

